 body{
    text-align:center;
    color:#40514E;
 }


.first{
    background-color:#D1E8E4 ; 
    
}

.cloud1{
    
    position:absolute;
}
h1{
    color:#66BFBF;
    padding-top:60px;
    font-family:sacramento;
    font-size: 450%;
    margin:0px auto 0 auto; 
         
}
.subtitle{
    font-size: 20px;
    font-family:merriweather;
    position:relative;
    left:20px; 
    color:#66BFBF;

}
.mountains{
    position:relative;
    left:70px;

}
.cloud2{
    position:absolute;
}
h2{
    color:#66BFBF;

}    
p{
   color:black; 
}
h3{
    color:black;
}
.skill-row{
    margin:40px auto 90px auto;
    width:50%;
    text-align:left;
    
}
h3{
    color:#66BFBF;

}
.designing{
    border-radius:50%;
}
.profile{
    margin:40px auto 40px auto;
}
.code-img{
    width:25%;
    float:left;
    margin-right:50px;
    

}
.designing{
    width:25%;
    float:right;
    margin-left:50px;
}
hr{
    background-color:white;
     width:7%;
    border-style: none ;
     border-top:dotted;
    
     border-width:4px;
     border-color:rgb(187, 178, 178);
}


.intro{
    width:25%;
    margin:auto;
}

p{
    line-height:2;
}

.cntc{
    margin:0px auto 80px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #edf2f2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #69db6d;
    background-image: -webkit-linear-gradient(top, #69db6d, #32c7ae);
    background-image: -moz-linear-gradient(top, #69db6d, #32c7ae);
    background-image: -ms-linear-gradient(top, #69db6d, #32c7ae);
    background-image: -o-linear-gradient(top, #69db6d, #32c7ae);
    background-image: linear-gradient(to bottom, #69db6d, #32c7ae);
    text-decoration: none;
  }

  .bottom-container{
      background-color: #66BFBF;
      padding:30px;
      
      
  }
  a{
      text-decoration:none;
      color:#149ba0;
      margin:10px 20px;
  }
  a:hover{
      color:#EAF6F6;
  }
  .bottom-text{
      color:#EAF6F6;
      font-size:0.75rem;
    
  }
  